.movie {
    width: 270px;
    position: relative;
    background: white;
    overflow: hidden;
}

.movie__img {
    width: 270px;
    height: 150px;
    display: block;
}

.movie__bottom-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #F5F5F5;
    padding-bottom: 10px;
}

.movie__subtitle {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    width: 88%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.movie__like {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #F5F5F5;
    position: relative;
}


.movie__like:hover {
    cursor: pointer;
}

.movie__duration {
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
}