.form__logo {
    margin: 70px 0 40px;
}

.form__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    margin: 0 0 40px 0;
}

.forms {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.form__desc {
    font-size: 10px;
    line-height: 12px;
    color: #a0a0a0;
    margin: 10px 0;
}

.form__desc_type_error {
    color: #FF3055;
}

.form__desc_type_error.is-hidden {
    display: none;
}

.form__input {
    height: 46px;
    background-color: #F9F9F9;
    border: none;
    padding-left: 15px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    cursor: pointer;
}

.form__input:focus {
    border: none;
}


.form__input_type_error {
    color: #FF3055;
}

.form-submit {
    display: flex;
    flex-direction: column;
    margin: 70px 2px;
}

.form-submit__btn {
    height: 45px;
    border-radius: 3px;
    background-color: #3456F3;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    transition: .3s;
}

.form-submit__btn:hover {
    opacity: .5;
    cursor: pointer;
}

.form-submit__redirect {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.form-submit__redirect-desc {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #A0A0A0;
    margin-right: 6px;
}

.form-submit__redirect-link {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #3456F3;
    text-decoration: none;
    transition: .3s;
}

.form-submit__redirect-link:hover {
    opacity: .5;
}



@media screen and (max-width: 768px) {
    .form-submit__btn {
        font-size: 12px;
        line-height: 14.5px;

    }

    .form-submit__redirect-desc {
        font-size: 12px;
        line-height: 14.5px;
    }

    .form-submit__redirect-link {
        font-size: 12px;
        line-height: 14.5px;
    }
}