.btn {
    border: none;
    font-size: 12px;
    line-height: 14.5px;
    font-weight: 500;
    transition: .3s;
}

.btn:hover {
    cursor: pointer;

}

.btn.hidden {
    display: none;
}

.btn_type_long {
    height: 36px;
    width: 100%;
    margin-bottom: 80px;
}

.btn_type_long:hover {
    background-color: #2BE080;
}



.btn_type_like {

    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: 7px;
    width: 10px;
    height: 8.5px;
    background-image: url(../../images/like-icon.svg);
}

.btn_type_delete {
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 9px;
    height: 9px;
    background-image: url(../../images/delete-icon.svg);

}




.btn_type_like.is-active {
    background-image: url(../../images/like-icon_is-active.svg);
}