.movies-card-list {
    display: grid;
    grid-template-columns: 282px 282px 282px;
    justify-content: center;
    grid-row-gap: 21px;
    grid-column-gap: 18px;
    margin-bottom: 60px;
}

.film {
    width: 220px;
    min-height: 330px;
    background-color: darksalmon;
}

.img {
    width: 220px;
    height: 20px;

}