.header {
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__auth.hidden {
    display: none;
}

.header_type_auth {
    background-color: #073042;
    margin: 0 -70px;
    padding: 0 70px;
}

.header__logo {
    width: 38px;
    height: 38px;
}

.header__logo:hover {
    cursor: pointer;
}

.header__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.header__user-info.hidden {
    display: none;
}




.btn_type_auth {
    min-width: 76px;
    min-height: 32px;
    color: #FFFFFF;
    background-color: #073042;
    border-radius: 3px;
    transition: .3s;
    margin-left: 10px;
}

.btn_type_auth:hover {
    color: #000000;
    background-color: #2BE080;
}

@media screen and (max-width: 767px) {
    .btn_type_auth {
        font-size: 10px;
        line-height: 16px;
        min-width: 54px;
        min-height: 26px;
    }
}